.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include clearfix;

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: $gater-vertical;

    @include respond(tab-port) {
      margin-bottom: $gater-vertical-small;
    }
  }

  // [class^="col-"]{} - selecting elements with class that starts with 'col-' using attribute selection;
  [class^='col-'] {
    float: left;

    &:not(:last-child) {
      margin-right: $gater-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gater-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    // use sass variables inside calc() using #{$your-var}
    width: calc((100% - #{$gater-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$gater-horizontal * 2}) / 3);
  }

  .col-1-of-4 {
    width: calc((100% - #{$gater-horizontal * 3}) / 4);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 *#{$gater-horizontal}) / 3) + #{$gater-horizontal});
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - #{$gater-horizontal * 3}) / 4) + #{$gater-horizontal});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - #{$gater-horizontal * 3}) / 4) + 2 * #{$gater-horizontal});
  }
}
